
nav {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    color: #fff;
    font: 1em sans-serif;
    box-shadow: 0 0 3px #666666c8;
    z-index: 22;
    position: relative;
    background: #042936;
}

.navbar-menu {
    position: absolute;
    display: block;
    padding: 20px;
    background-color: #041c25;
    width: 300px;
    height: 100vh;
    top: 73px;
    right: -250px;
    transition: .5s;
    z-index: 999;
}

.navbar-menu li a {
    padding: 8px 12px;
    margin: 0 12px;
    border-radius: 10px;
    border: 1px solid #807e7ebc;
    color: #e6eef0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .3s ease-in-out;
}

.navbar-menu li a:hover {
    background: #09303f;
    color: #fff;
}


.navbar-menu li {
    text-align: center;
    margin: 30px 0 ;
    scale: 1;
    transition: .6s;
}

.navbar-menu li:hover {
    scale: 1.1;
}
li a i {
    color: #e6eef0;
    padding: 0 5px;
}





.icons-navbar {
    top: 15px;
    position: absolute;
    right: 90px;
}

.icons-navbar i {
    font-size: 1.3em;
    padding: 5px;
    border-radius: 5px;
    transition: 1s;

}

.icons-navbar i:hover {
    background: #0f5b79;
    color: #fff;
    scale: 1.2;

}

#hamburger {
    position: absolute;
    top: 19px;
    right: 12px;
    display: block;
    transition: .3s;
    scale: .9;

}

#hamburger:hover {
    scale: 1.1;
    box-shadow: 0 0 400px inset var(--myBgAquaTR);
    border-radius: 50%;
}

#hamburger div {
    background-color: #fdfefe;
    padding: 2px 18px;
    margin-top: 5px;
    border-radius: 3px;
}

header {
    display: flex;
    position: relative;
    box-shadow: 0 0 3px#666;
    overflow: hidden;
}
.logo {
    top: 20px;
    font-size: 1.6em;
    text-shadow: 0 0 2px #000000ad;
}

.imageFix {
    position: absolute;
    position: relative;
    right: 0;
    top: 0;
    width: 50%;
    height: 70vh;
    background:  linear-gradient(109.6deg, rgb(0, 124, 177) 30.2%, rgb(25, 74, 236) 70.1%);
}
.imageFix img{
    position: absolute;
    height: 300px;
    width: 420px;
    bottom: 0;
    right: 100px;
    transition: .5s;
    scale: 1;
}
.imageFix img:hover, .img-card img:hover{
    scale: 1.1;
}


.content {
    width: 50%;
    height: 70vh;
    transition: 1s;
    background:  linear-gradient(109deg,   rgb(25, 74, 236) 30.2% ,rgb(0, 124, 177) 50.1%);

}

.content h1, .content h2 {
    font: 1.5em sans-serif;
    color: #ffffff;
    font-weight: 600;
    position: absolute;
    top: 30px;
    z-index: 10;
    left: 5px;
    right: 5px;
    transition: 1s;
    text-shadow: 0 0 5px #09303f;
    background-color: #09303fad;
    border-radius: 3px;
    text-align: center;
}




@media only screen and (max-width: 600px) {
    .icons-navbar {
        top: 20px;
        left: 20px;
    }

    .imageFix img{
        right: 20px;
        /* left: 30px; */
    }
    /* .card-box {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    } */

    

}



@media only screen and (min-width: 900px) {
    nav {
        height: 20px;
        text-align: center;
    }
    
    
    .content,.imageFix{
        width: 50%;
        height: 70vh ;
    }
    
    
    .content h1, .content h2 {
        width: 40%;
        top: 40%;
        left: 20px;
    }
    
    .imageFix img{
        width: 570px;
        height: 440px;
    }
    
    .navbar-menu {
        display: flex;
        background-color: transparent;
        padding: 0;
        text-align: center;
        width: inherit;
        height: inherit;
        top: inherit;
        right: 300px !important;
    }
    
    .icons-navbar {
        position: absolute;
        right: 20px;
        
    }
    /* .card-box {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    } */
    
    .navbar-menu li {
        margin: 0;
    }

    #hamburger {
        display: none;
    }

    .logo {
        font-size: 1.5em;
        position: absolute;
        left: 30px;
    }
    /* .card-box{
        display: flex;
    } */

    
}
